@using ShikimoriSharp.Bases
@using ShikimoriSharp.Classes
@model List<Anime>

    <html>
        <head>

    <link rel="stylesheet" type="text/css" href="~/css/MainAnimePageStyle.css" asp-append-version="true" />

        </head>
        <body>
@{
        for (int i = 0; i < Model.Count; i++)
        {
            <div class="AnimeContainer">

                <div class="PictureAndListContainer">

                    <img src=@("https://shikimori.one")@Model[i].Image.Original alt="Отсутствует">

                    <select>
                        <option value="1">Нет</option>
                        <option value="2">Смотрю</option>
                        <option value="3">В планах</option>
                        <option value="4">Брошено</option>
                        <option value="5">Просмотрено</option>
                        <option value="6">Любимые</option>
                    </select>

                </div>

                <a asp-page="UserProfile">
                    <div class="AnimeInformation">
                        <label id="AnimeName">@Model[i].Russian</label>
                        <label id="AnimeEnglishName">@Model[i].Name</label>
                        <label class="OtherInformation">@Model[i].Kind @("/") @Model[i].Status</label>
                        <label class="OtherInformation">@("Оценка:") @Model[i].Score</label>
                    </div>
                </a>

            </div>

            <hr>
        }
}
</body>
</html>


