@page "{handler?}/{id?}"
@using ShikimoriSharp.Classes
@model WebVersion.Pages.MainAnimePageModel
@{
    async Task AnimeRender()
    {
        for (int i = 0; i < Model.AnimeList.Count; i++)
        {
            <div class="AnimeContainer" id="@Model.AnimeList[i].Id">

                <div class="PictureAndListContainer">

                    <img src="@("https://shikimori.one")@Model.AnimeList[i].Image.Original" alt="Отсутствует">

                    <select>
                        <option value="1">Нет</option>
                        <option value="2">Смотрю</option>
                        <option value="3">В планах</option>
                        <option value="4">Брошено</option>
                        <option value="5">Просмотрено</option>
                        <option value="6">Любимые</option>
                    </select>

                </div>

                <a asp-page="UserProfile">
                    <div class="AnimeInformation">

                        <label id="AnimeName">@Model.AnimeList[i].Russian</label>
                        <label id="AnimeEnglishName">@Model.AnimeList[i].Name</label>
                        <label class="OtherInformation">@Model.AnimeList[i].Kind @("/") @Model.AnimeList[i].Status</label>
                        <label class="OtherInformation">@("Оценка:") @Model.AnimeList[i].Score</label>
                    </div>
                </a>

            </div>

            <hr>
        }
    }
}

<html>
<head>

    <link rel="stylesheet" type="text/css" href="~/css/MainAnimePageStyle.css" asp-append-version="true" />

</head>
<body>
    <div class="MainContainer">

        <div class="Container1">

        <form method="get" asp-page-handler="AnimesById">
            <select id="PagesSelect" asp-for="Id" asp-items="@Model.PagesId" onchange="this.form.submit()"></select>
        </form>

            @AnimeRender();
            
        </div>


        <div class="FiltrContainer">

            <label class="FiltrLabel">Настройки</label>

            <div class="LabelAndInput">

                <label class="FiltrLabel">Жанры</label>
                <select class="multiple-select" multiple>
                    <option value="1"></option>
                    <option value="2">Фантастика</option>
                    <option value="3">Фентези</option>
                    <option value="4">Перерождение</option>
                    <option value="5">Повседневность</option>
                </select>

            </div>

            <div class="LabelAndInput">

                <label class="FiltrLabel">Тип</label>
                <select class="multiple-select" multiple>
                    <option value="1"></option>
                    <option value="2">Аниме-сериал</option>
                    <option value="3">Аниме-фильм</option>
                    <option value="4">OVA</option>
                </select>

            </div>

            <div class="LabelAndInput">

                <label class="FiltrLabel">Статус</label>
                <select class="multiple-select" multiple>
                    <option value="1"></option>
                    <option value="2">Вышел</option>
                    <option value="3">Онгоинг</option>
                </select>

            </div>

            <div class="LabelAndInput">

                <label class="FiltrLabel">Сортировка</label>
                <select>
                    <optgroup label="Рейтинг">
                        <option value="1">По возрастанию</option>
                        <option value="2">По убыванию</option>
                    </optgroup>
                    <optgroup label="Дата выхода">
                        <option value="3">По возрастанию</option>
                        <option value="4">По убыванию</option>
                    </optgroup>
                </select>

            </div>

        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript">
    //    $(function () {

    //        $('div#loading').hide();

    //        var page = 0;
    //        var _inCallback = false;
    //        function loadItems() {
    //            if (page > -1 && !_inCallback) {
    //                _inCallback = true;
    //                page++;
    //                $('div#loading').show();

    //                $.ajax({
    //                    type: 'GET',
    //                    url: '/Home/Index/' + page,
    //                    success: function (data, textstatus) {
    //                        if (data != '') {
    //                            $("#scrolList").append(data);
    //                        }
    //                        else {
    //                            page = -1;
    //                        }
    //                        _inCallback = false;
    //                        $("div#loading").hide();
    //                    }
    //                });
    //            }
    //        }
    //        // обработка события скроллинга
    //        $(window).scroll(function () {
    //            if ($(window).scrollTop() == $(document).height() - $(window).height()) {

    //                loadItems();
    //            }
    //        });
    //    })
    </script>

</body>
</html>
