@page
@using ShikimoriSharp.Classes
@model WebVersion.Pages.MainAnimePageModel
@{
    async Task GetAnimes()
    {
        for (int i = 0; i < Model.AnimeList.Count; i++)
        {
            <div class="AnimeContainer">

                <div class="PictureAndListContainer">

                    <img src=@("https://shikimori.me")@Model.AnimeList[i].Image.Original alt="Отсутствует">

                    <form method="post" action="@Url.Action("AddAnimeToList", "Home")">
                        <select name="selectedList" action="@Url.Action("AddAnimeToList", "Home")"
                    asp-for="SelectedList[i]" onchange="this.form.submit()">
                            <option value="0 @Model.AnimeList[i].Id">Нет</option>
                            <option value="1 @Model.AnimeList[i].Id">Смотрю</option>
                            <option value="2 @Model.AnimeList[i].Id">В планах</option>
                            <option value="3 @Model.AnimeList[i].Id">Брошено</option>
                            <option value="4 @Model.AnimeList[i].Id">Просмотрено</option>
                            <option value="5 @Model.AnimeList[i].Id">Любимые</option>
                        </select>
                    </form>

                </div>

                <form method="post" asp-page="AnimeId">
                    <div class="AnimeInformation">
                        <label id="AnimeName">@Model.AnimeList[i].Russian</label>
                        <label id="AnimeEnglishName">@Model.AnimeList[i].Name</label>
                        <label class="OtherInformation">@Model.AnimeList[i].Kind @("/") @Model.AnimeList[i].Status</label>
                        <label class="OtherInformation">@("Оценка:") @Model.AnimeList[i].Score</label>
                    </div>
                    <input type="submit" value="Подробнее" asp-page-handler="AnimeIdPage" asp-route-id="@Model.AnimeList[i].Id" />
                </form>

            </div>

            <hr>
        }
    }
}

<html>
<head>

    <link rel="stylesheet" type="text/css" href="~/css/MainAnimePageStyle.css" asp-append-version="true" />

</head>
<body>
    <div class="MainContainer">

        <div class="Container1">

            @GetAnimes();
            
        </div>


        <div class="FiltrContainer">

            <label class="FiltrLabel">Настройки</label>

            <form method="post" asp-page-handler="AnimesById">

                <div class="LabelAndInput">
                    <label class="FiltrLabel">Жанры</label>
                    <select asp-for="Genre" asp-items="@Model.AnimeGenres" onchange="this.form.submit()"></select>
                </div>

                <div class="LabelAndInput">
                    <label class="FiltrLabel">Статус</label>
                    <select asp-for="Status" asp-items="@Model.AnimeStatuses" onchange="this.form.submit()"></select>
                </div>

                <div class="LabelAndInput">
                    <label class="FiltrLabel">Тип</label>
                    <select asp-for="Type" asp-items="@Model.AnimeTypes" onchange="this.form.submit()" ></select>
                </div>

                <div class="LabelAndInput">
                    <label class="FiltrLabel">Выбор страницы</label>
                    <select id="PagesSelect" asp-for="Id" asp-items="@Model.PagesId" onchange="this.form.submit()"></select>
                </div>

                <div class="LabelAndInput">

                    <label class="FiltrLabel">Сортировка</label>

                    <select asp-for="Order" onchange="this.form.submit()">
                        <option value="1">По рейтингу</option>
                        <option value="2">По типу</option>
                        <option value="3">По популярности</option>
                        <option value="4">По имени</option>
                        <option value="5">По дате релиза</option>
                        <option value="6">По статусу</option>
                        <option value="7">Случайно</option>
                    </select>

                </div>

            </form>

            

        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
