@page
@model WebVersion.Pages.MangaListModel
@using System.Security.Claims;
@{

    async Task GetMangas()
    {
        for (int i = 0; i < Model.MangaList.Count; i++)
        {
            <div class="AnimeContainer">

                <div class="PictureAndListContainer">

                    <img src=@("https://shikimori.me")@Model.MangaList[i].Image.Original alt="Отсутствует">

                    <form method="post" action="@Url.Action("AddMangaToList", "Home")">
                        <select name="selectedList" action="@Url.Action("AddMangaToList", "Home")"
                    asp-for="SelectedList[i]" onchange="this.form.submit()">
                            <option value="0 @Model.MangaList[i].Id">Нет</option>
                            <option value="1 @Model.MangaList[i].Id">Читаю</option>
                            <option value="2 @Model.MangaList[i].Id">В планах</option>
                            <option value="3 @Model.MangaList[i].Id">Брошено</option>
                            <option value="4 @Model.MangaList[i].Id">Прочитано</option>
                            <option value="5 @Model.MangaList[i].Id">Любимые</option>
                        </select>
                    </form>

                </div>

                <form method="post">
                    <div class="AnimeInformation">
                        <label id="AnimeName">@Model.MangaList[i].Russian</label>
                        <label id="AnimeEnglishName">@Model.MangaList[i].Name</label>
                        <label class="OtherInformation">@Model.MangaList[i].Kind @("/") @Model.MangaList[i].Status</label>
                        <label class="OtherInformation">@("Оценка:") @Model.MangaList[i].Score</label>
                        <label class="OtherInformation">
                            @foreach (var genre in Model.MangaList[i].Genres)
                            {
                                @($"{genre.Russian} ")
                            }
                        </label>
                    </div>
                    <input type="submit" value="Подробнее" asp-page-handler="MangaIdPage" asp-route-id="@Model.MangaList[i].Id" />
                </form>

            </div>

            <hr>
        }
    }

}

<html>

<head>

    <link rel="stylesheet" type="text/css" href="~/css/UserListStyle.css" asp-append-version="true" />

</head>

<body>

    <div class="MainContainer">

        <div class="UserContainer">

            <img src=@User.FindFirstValue(ClaimTypes.UserData) />

            <label>@User.Identity.Name</label>

            <div class="SettingButtonContainer">
                <form method="post">
                    <button asp-page-handler="ToSettings">Настройки</button>
                </form>
            </div>

        </div>

        <div class="Container">

            <div id="AnimeList" class="AnimeListContainer">

                @{
                    await GetMangas();
                }

            </div>

            <div class="AnimeSelectionList">

                <form method="post">
                    <button name="selectedList" asp-page-handler="MangaListSelect" value="Читаю">Читаю</button>
                    <button name="selectedList" asp-page-handler="MangaListSelect" value="В планах">В планах</button>
                    <button name="selectedList" asp-page-handler="MangaListSelect" value="Брошено">Брошено</button>
                    <button name="selectedList" asp-page-handler="MangaListSelect" value="Прочитано">Прочитано</button>
                    <button name="selectedList" asp-page-handler="MangaListSelect" value="Любимые">Любимые</button>
                </form>

            </div>

        </div>

    </div>

</body>

</html>
