@page
@model WebVersion.Pages.RanobeIdModel

<html>
<head>

    <link rel="stylesheet" type="text/css" href="~/css/AnimeIdStyle.css" asp-append-version="true" />

</head>
<body>

    <div class="Page">

        <div class="Container1">

            <div class="MainInformation">
                <div class="ImageAndSelect">
                    <img src=@("https://shikimori.me")@Model.Ranobe.Image.Original alt="Отсутствует">

                    <form method="post" action="@Url.Action("AddRanobeToList", "Home")">
                        <select name="selectedList" action="@Url.Action("AddRanobeToList", "Home")"
                                asp-for="SelectedList" onchange="this.form.submit()">
                            <option value="0 @Model.Ranobe.Id">Нет</option>
                            <option value="1 @Model.Ranobe.Id">Читаю</option>
                            <option value="2 @Model.Ranobe.Id">В планах</option>
                            <option value="3 @Model.Ranobe.Id">Брошено</option>
                            <option value="4 @Model.Ranobe.Id">Прочитано</option>
                            <option value="5 @Model.Ranobe.Id">Любимые</option>
                        </select>
                    </form>
                </div>

                <div class="AnimeIdInformation">
                    <div class="LabelAndInput">
                        <label id="MangaName">@Model.Ranobe.Russian</label>
                    </div>
                    <div class="LabelAndInput">
                        <label id="MangaEnglishName">@Model.Ranobe.Name</label>
                    </div>
                    <div class="LabelAndInput">
                        <label>Рейтинг: </label>
                        <label>@Model.Ranobe.Score</label>
                    </div>
                    <div class="LabelAndInput">
                        <label>Тип: </label>
                        <label>@Model.Ranobe.Kind</label>
                    </div>
                    <div class="LabelAndInput">
                        <label>Статус: </label>
                        <label>@Model.Ranobe.Status</label>
                    </div>
                    <div class="LabelAndInput">
                        <label>Издатели: </label>
                        @if (Model.Ranobe.Publishers.Length != 0)
                        {
                            @foreach (var publisher in Model.Ranobe.Publishers)
                            {
                                <label class="FiltrLabel">@publisher.Name@(" ")</label>
                            }
                        }
                    </div>
                    <div class="LabelAndInput">
                        <label>Количество глав: </label>
                        <label>@Model.Ranobe.Chapters</label>
                    </div>
                    <div class="LabelAndInput">
                        <label class="FiltrLabel">Жанры: </label>
                        @foreach (var genre in Model.Ranobe.Genres)
                        {
                            <label class="FiltrLabel">@genre.Russian @(" ")</label>
                        }
                    </div>
                </div>
            </div>

            <div>
                <label id="Description">@Model.Ranobe.Description</label>
                <hr>

                <div class="Other">
                    <label id="RelatedLabel">Связанное</label>
                    <div class="Related">
                        @for (int i = 0; i < Model.Related.Length; i++)
                        {
                            if (Model.Related[i].Anime != null)
                            {
                                <div class="RelatedAnime">
                                    <div class="ImageAndSelect">
                                        <img src=@("https://shikimori.me")@Model.Related[i].Anime.Image.Original alt="Отсутствует">
                                        <form method="post" action="@Url.Action("AddAnimeToList", "Home")">
                                            <select name="selectedList" action="@Url.Action("AddAnimeToList", "Home")"
                                            asp-for="SelectedLists[i]" onchange="this.form.submit()">
                                                <option value="0 @Model.Related[i].Anime.Id">Нет</option>
                                                <option value="1 @Model.Related[i].Anime.Id">Смотрю</option>
                                                <option value="2 @Model.Related[i].Anime.Id">В планах</option>
                                                <option value="3 @Model.Related[i].Anime.Id">Брошено</option>
                                                <option value="4 @Model.Related[i].Anime.Id">Просмотрено</option>
                                                <option value="5 @Model.Related[i].Anime.Id">Любимые</option>
                                            </select>
                                        </form>
                                    </div>
                                    <div>
                                        <div class="FiltrLabel">
                                            <label>@Model.Related[i].Anime.Russian</label>
                                        </div>
                                        <label>@Model.Related[i].Anime.Kind@("/")@Model.Related[i].Anime.Status</label>
                                        <div class="FiltrLabel">
                                            <label>Оценка: </label>
                                            <label>@Model.Related[i].Anime.Score</label>
                                        </div>
                                        <form method="post" asp-page="AnimeId">
                                            <input type="submit" value="Подробнее" asp-page-handler="AnimeIdPage" asp-route-id="@Model.Related[i].Anime.Id" />
                                        </form>
                                    </div>
                                </div>
                            }
                            else if (Model.Related[i].Manga != null)
                            {
                                <div class="RelatedManga">
                                    <div class="ImageAndSelect">
                                        <img src=@("https://shikimori.me")@Model.Related[i].Manga.Image.Original alt="Отсутствует">
                                        @if (Model.Related[i].Manga.Kind == "light_novel")
                                        {
                                            <form method="post" action="@Url.Action("AddRanobeToList", "Home")">
                                                <select name="selectedList" action="@Url.Action("AddRanobeToList", "Home")"
                                            asp-for="SelectedLists[i]" onchange="this.form.submit()">
                                                    <option value="0 @Model.Related[i].Manga.Id">Нет</option>
                                                    <option value="1 @Model.Related[i].Manga.Id">Читаю</option>
                                                    <option value="2 @Model.Related[i].Manga.Id">В планах</option>
                                                    <option value="3 @Model.Related[i].Manga.Id">Брошено</option>
                                                    <option value="4 @Model.Related[i].Manga.Id">Прочитано</option>
                                                    <option value="5 @Model.Related[i].Manga.Id">Любимые</option>
                                                </select>
                                            </form>
                                        }
                                        else
                                        {
                                            <form method="post" action="@Url.Action("AddMangaToList", "Home")">
                                                <select name="selectedList" action="@Url.Action("AddMangaToList", "Home")"
                                            asp-for="SelectedLists[i]" onchange="this.form.submit()">
                                                    <option value="0 @Model.Related[i].Manga.Id">Нет</option>
                                                    <option value="1 @Model.Related[i].Manga.Id">Читаю</option>
                                                    <option value="2 @Model.Related[i].Manga.Id">В планах</option>
                                                    <option value="3 @Model.Related[i].Manga.Id">Брошено</option>
                                                    <option value="4 @Model.Related[i].Manga.Id">Прочитано</option>
                                                    <option value="5 @Model.Related[i].Manga.Id">Любимые</option>
                                                </select>
                                            </form>
                                        }
                                    </div>
                                    <div>
                                        <div class="FiltrLabel">
                                            <label>@Model.Related[i].Manga.Russian</label>
                                        </div>
                                        <label>@Model.Related[i].Manga.Kind@("/")@Model.Related[i].Manga.Status</label>
                                        <div class="FiltrLabel">
                                            <label>Оценка: </label>
                                            <label>@Model.Related[i].Manga.Score</label>
                                        </div>
                                        @if (Model.Related[i].Manga.Kind == "light_novel")
                                        {
                                            <form method="post" asp-page="RanobeId">
                                                <input type="submit" value="Подробнее" asp-page-handler="RanobeIdPage" asp-route-id="@Model.Related[i].Manga.Id" />
                                            </form>
                                        }
                                        else
                                        {
                                            <form method="post" asp-page="MangaId">
                                                <input type="submit" value="Подробнее" asp-page-handler="MangaIdPage" asp-route-id="@Model.Related[i].Manga.Id" />
                                            </form>
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>

                    <label id="SimilarLabel">Похожее</label>
                    <div class="Similar">
                        @if (Model.Similar.Count() != 0)
                        {
                            for (int i = 0; i < (Model.Similar.Count() > 8 ? 8 : Model.Similar.Count()); i++)
                            {
                                <div class="SimilarPiece">
                                    <div class="ImageAndSelect">
                                        <img src=@("https://shikimori.me")@Model.Similar[i].Image.Original alt="Отсутствует">
                                        <form method="post" action="@Url.Action("AddRanobeToList", "Home")">
                                            <select name="selectedList" action="@Url.Action("AddRanobeToList", "Home")"
                                            asp-for="SimilarRanobeList[i]" onchange="this.form.submit()">
                                                <option value="0 @Model.Similar[i].Id">Нет</option>
                                                <option value="1 @Model.Similar[i].Id">Читаю</option>
                                                <option value="2 @Model.Similar[i].Id">В планах</option>
                                                <option value="3 @Model.Similar[i].Id">Брошено</option>
                                                <option value="4 @Model.Similar[i].Id">Прочитано</option>
                                                <option value="5 @Model.Similar[i].Id">Любимые</option>
                                            </select>
                                        </form>
                                    </div>
                                    <div class="SimilarInformation">
                                        <label>@Model.Similar[i].Russian</label>
                                        <label>@Model.Similar[i].Kind@("/")@Model.Similar[i].Status</label>
                                        <div class="FiltrLabel">
                                            <label>Оценка: </label>
                                            <label>@Model.Similar[i].Score</label>
                                        </div>
                                        <form method="post" asp-page="RanobeId">
                                            <input type="submit" value="Подробнее" asp-page-handler="RanobeIdPage" asp-route-id="@Model.Similar[i].Id" />
                                        </form>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>

            </div>

        </div>
    </div>

</body>
</html>

