@page
@model WebVersion.Pages.UserListModel
@using System.Security.Claims;
@{
}

<html>

<head>

    <link rel="stylesheet" type="text/css" href="~/css/UserListStyle.css" asp-append-version="true" />

</head>

<body>

    <div class="MainContainer">

        <div class="UserContainer">

            <img src=@User.FindFirstValue(ClaimTypes.Surname) alt="Отсутствует">

            <label>@User.Identity.Name</label>

            <div class="SettingButtonContainer">
                <form method="post">
                    <button asp-page-handler="ToSettings">Настройки</button>
                </form>
            </div>

        </div>

        <div class="Container">

            <div class="AnimeListContainer">

                @while (Model.Users == null)
                {
                    continue;
                }
                @foreach (var user in Model.Users)
                {
                    <div class="AnimeContainer">
                        <div class="PictureAndListContainer">
                            <img src="@user.ImageSource" alt="Отсутствует" style="width:150px; height:150px;">
                        </div>
                        <div style="display:flex; flex-direction:column;">
                            <div class="AnimeInformation">
                                <label id="AnimeName">@user.Login</label>
                                <label id="AnimeEnglishName">@("Id - ")@user.Id</label>
                                <label class="OtherInformation">@("Email - ")@user.Email</label>
                                <label class="OtherInformation">@("Имя - ")@user.Login</label>
                            </div>
                            <div style="display:flex;">
                                <form method="post">
                                    <button type="submit" asp-page-handler="DeleteUser" asp-route-id="@user.Id">Удалить</button>
                                </form>
                                <form method="post" action="@Url.Action("SendNotify", "Home")">
                                    <button name="userId" action="@Url.Action("SendNotify", "Home")" value="@user.Id">Отправить уведомление</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <hr>
                }

            </div>

        </div>

    </div>

</body>

</html>

