@page
@model WebVersion.Pages.UserListModel
@using System.Security.Claims;
@{

    async Task GetUsers()
    {
        for (int i = 0; i < Model.Users.Count; i++)
        {
            <div class="AnimeContainer">

                <div class="PictureAndListContainer">

                    <img src=@Model.Users[i].ImageSource alt="Отсутствует" style="width:150px; height:150px;">

                </div>

                <div style="display:flex; flex-direction:column;">
                    <div class="AnimeInformation">
                        <label id="AnimeName">@Model.Users[i].Login</label>
                        <label id="AnimeEnglishName">@("Id - ")@Model.Users[i].Id</label>
                        <label class="OtherInformation">@("Email - ")@Model.Users[i].Email</label>
                        <label class="OtherInformation">@("Пароль - ") @Model.Users[i].Password</label>
                    </div>
                    <div style="display:flex;">
                        <form method="post">
                            <button type="submit" asp-page-handler="DeleteUser" asp-route-id="@Model.Users[i].Id">Удалить</button>
                        </form>
                        <form method="post" action="@Url.Action("SendNotify", "Home")">
                            <button name="userId" action="@Url.Action("SendNotify", "Home")" value=@Model.Users[i].Id>Отправить уведомление</button>
                        </form>
                    </div>
                </div>

            </div>

            <hr>
        }
    }

}

<html>

<head>

    <link rel="stylesheet" type="text/css" href="~/css/UserListStyle.css" asp-append-version="true" />

</head>

<body>

    <div class="MainContainer">

        <div class="UserContainer">

            <img src=@User.FindFirstValue(ClaimTypes.UserData) alt="Отсутствует">

            <label>@User.Identity.Name</label>

            <div class="SettingButtonContainer">
                <form method="post">
                    <button asp-page-handler="ToSettings">Настройки</button>
                </form>
            </div>

        </div>

        <div class="Container">

            <div class="AnimeListContainer">

                @{
                    await GetUsers();
                }

            </div>

        </div>

    </div>

</body>

</html>

